# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/premake/*/.vs
/premake/*/bin
/premake/*/grpc_lua.VC.VC.opendb
/premake/*/grpc_lua.VC.db
/premake/*/grpc_lua.VC.opendb
/premake/*/grpc_lua.sdf
/premake/*/obj
/premake/premake5.exe
/premake/premake5.bat
/premake/conanbuildinfo.cmake
/premake/conaninfo.txt

/examples/helloworld/.vs
/examples/conan_install.bat

*.pyc
test_package/build
/conaninfo.txt
/conanpremake.lua
/conanbuildinfo.cmake
