# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# /premake/*/.vs
# /premake/*/bin
# /premake/*/grpc_lua.VC.VC.opendb
# /premake/*/grpc_lua.VC.db
# /premake/*/grpc_lua.VC.opendb
# /premake/*/grpc_lua.sdf
# /premake/*/obj
# /premake/vs2015
/premake/vs20*
/premake/conanpremake_debug_x32.lua
/premake/conanpremake_debug_x64.lua
/premake/conanpremake_release_x32.lua
/premake/conanpremake_release_x64.lua
/premake/premake5.exe
/premake/premake5.bat
/premake/conanbuildinfo.cmake
/premake/conaninfo.txt

/examples/helloworld/.vs
/examples/conan_install.bat

*.pyc
test_package/build
/conaninfo.txt
/conanpremake.lua
/conanbuildinfo.cmake
/doc/ldoc/lualibs/LDoc-1.4.6
/doc/ldoc/lualibs/Penlight-1.5.2
/doc/ldoc/lua-cpp.exe
/doc/ldoc/lua_tools/lua-cpp.exe
/doc/ldoc/lua_tools/LDoc-1.4.6
/doc/ldoc/lua_tools/Penlight-1.5.2
/doc/ldoc/lua_tools/lua-cpp.exe
/doc/ldoc/lua_tools/lfs.dll
/doc/ldoc/lua_tools/lua-cpp.dll

