REM Using debug_x64

call ..\..\install_luaphintf.bat

REM Change it:
set conandata=C:\Users\jinqing\.conan\data

REM Copy exe and dlls to run.
set lua_cpp_bin=%conandata%\lua-cpp\5.3.4\jinq0123\testing\package\c83d8b197f1a331ca3b55943846d427ad4f7f8e1\bin
copy "%lua_cpp_bin%\lua-cpp.exe" .
copy "%conandata%\luapbintf\0.1\jinq0123\testing\package\c83d8b197f1a331ca3b55943846d427ad4f7f8e1\bin\luapbintf.dll" .
copy "%conandata%\grpc-lua\0.1\jinq0123\testing\package\c83d8b197f1a331ca3b55943846d427ad4f7f8e1\bin\grpc-lua.dll" .
REM or copy "..\..\premake\vs2015\bin\x64\Debug\grpc-lua.dll" .

lua-cpp.exe greeter_client.lua

pause
