REM Copy dlls and run.

REM copy D:\lua53\lua53.dll
REM copy D:\lua53\lua53.exe
REM copy D:\grpc_cb\build\bin\Debug\grpc_cb.dll
REM copy D:\LuaPbIntf\luapbintf.dll
copy ..\..\build\bin\Debug\grpc_lua.dll

lua53.exe greeter_client.lua

pause
