# Install lua-cpp, luapbintf and grpc-lua from conan.

# Ignore if ERROR: Remote 'jinq0123' already exists with same URL
conan remote add remote_bintray_jinq0123 https://api.bintray.com/conan/jinq0123/test
conan remote add remote_bintray_inexorgame https://api.bintray.com/conan/inexorgame/inexor-conan

# Using debug
arg="--build missing --build outdated --update -s build_type=Debug"

conan install lua-cpp/5.3.4@jinq0123/testing ${arg}
conan install luapbintf/0.1@jinq0123/testing ${arg}
conan install grpc-lua/0.1@jinq0123/testing ${arg}

# Ignore if ERROR: Remote 'remote_bintray_jinq0123' not found in remotes
conan remote remove remote_bintray_jinq0123
conan remote remove remote_bintray_inexorgame
